{% extends 'base.html' %}

{% block title %} {{ tag.tag_name }} books - Short Summary {% endblock title %}

{% block content %}


    <section class="embed-responsive py-5 px-md-5 px-sm-4 px-2 ">
        <div class="row px-3">
            <h4 class="bg-light text-dark px-3 py-2 border">{{ tag.tag_name }} Books</h4>

            <div class="col-md-12 pt-5">
                <div class="row">
                    {% for book in tag_books %}
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                            <div class="card border-0">
                                <a href="{% url 'book:book_details' book.book_slug %}">
                                    <img src="{{ book.book_image_url }}" class="card-img-top">
                                </a>
                                <div class="card-body px-0 pt-1" style="background-color:#F5F5F5">
                                    <p class="card-title my-0">{{ book.book_title }}</p>
                                    <p class="card-text text-muted">{{ book.book_author }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>


{% endblock content %}