{% extends 'base.html' %}

{% block title %} Who & Why - Short Summary {% endblock title %}

{% block content %}


	<section class='py-5 px-4 px-md-5'>
		<div class='row'>
			<div class='col-md-8 offset-md-2 bg-white p-4 col-12'>
				<p class='lead'>
					Hey there, I  am Naveen Chahar. I believe the saying <span class='text-primary'>"books are the best friends of human." </span>
					<br><br>
					I am a Computer Science & Engineering student. I started reading books almost two years ago. Probably reading is the one of best decision I have ever taken. It satisfy my hunger for gathering knowledge from the greats.
					stress management, communication and many more. Now I have decided to share short summaries with all.
					<br><br>
					Reading on continuous basis is more powerful than reading occasionally.
					<br><br>
					<span class='h4 text-dark'>So, here's my plan</span>
					<br><br>
					 I will read minimum 2 books every month and post summary in most effective way so that I can post summaries of them. Surely, summaries are not the replacement of reading whole book,
					 instead summary provides the inside of book and it reflects what a book is all about.
					 <br><br>
					 I strongly recommend if you found any book summary really interesting and helpful then just read the whole book, In that way you will be benefited most.
					 <br><br>
					 Happy Reading!
				</p>
			</div>
		</div>

	</section>


{% endblock content %}
